<!DOCTYPE html>
<html lang=xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>食材信息管理系统</title>
    <link rel="stylesheet" th:href="@{/css/first.css}">
    <link rel="stylesheet" th:href="@{https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css}"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        .modal {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            z-index: 11;
            bottom: auto;
        }
        .modal input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .modal button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .modal button:hover {
            background-color: #45a049;
        }

        dialog {
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 1em;
            background: white;
        }

        /* 为表单添加样式 */
        #editForm {
            display: flex;
            flex-direction: column;
            gap: 0.5em;
        }

        /* 为按钮添加样式 */
        #editForm button {
            margin-top: 1em;
            padding: 0.5em 1em;
            border: 1px solid #45a049;
            background-color: #45a049;
            color: white;
            border-radius: 4px;
            cursor: pointer;
        }

        #editForm button:hover {
            background-color: #45a049;
        }

        /* 为取消按钮添加样式 */
        #cancelBtn {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        #cancelBtn:hover {
            background-color: #c82333;
        }

        #food-table td {
            color: #333;
            font-size: 18px;
            background-color: #f9f9f9;
            font-family: Arial, sans-serif;
        }

        #food-table button {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
            border-radius: 5px;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 0px 2px;
            cursor: pointer;
            transition-duration: 0.4s;
        }

        #food-table button:hover {
            background-color: #45A049;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <a th:href="@{/index}" onclick="loadContent('first')">首页</a>
        <a th:href="@{/inventory}" onclick="loadContent('inventory')">库存管理</a>
        <a th:href="@{/purchase}" style="background-color: #4CAF50" onclick="loadContent('purchase')">采购管理</a>
        <a th:href="@{/supplier}" onclick="loadContent('suppliers')">供应商管理</a>
        <a th:href="@{/order}" onclick="loadContent('order')">订单管理</a>
    </div>

    <div class="main" id="main-content">
        <div class="user-info">
            <span>欢迎, <span id="username">用户名</span></span>
            <span>您的余额为：<span id="balance">余额</span></span>
            <a th:href="@{/logout}">注销</a>
        </div>
    </div>

    <div id="foodTableContainer" class="col-md-7">
        <!-- 食品信息表格将在这里生成 -->
        <table id="food-table" class="table table-hover">
            <thead>
            <tr>
                <th>食物名称</th>
                <th>供应商</th>
                <th>供应量(kg)</th>
                <th>价格(元/kg)</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!-- 表格数据将在这里加载 -->
            </tbody>
        </table>
        <div class="pagination" id="pagination"></div>
    </div>

    <div>
        <button class="add-button" onclick="showModal()">添加食品信息</button>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="modal">
        <span class="close">&times;</span>
        <h3>添加食品信息</h3>
        <form id="foodForm" action="/#" method="post">
            <input type="text" id="foodName" placeholder="食品名称" required>
            <input type="text" id="supplier" placeholder="供应商" required>
            <input type="number" id="number" placeholder="供应量" required>
            <input type="text" id="foodPrice" placeholder="价格" required>
            <!-- 根据需要添加其他食品信息字段 -->
            <button type="button" onclick="addFood()">添加</button>
        </form>
    </div>
    <dialog id="editDialog">
        <form id="editForm">
            <h2>修改食材详情</h2>
            <label for="numberInput">供应量:</label>
            <input type="number" name="number" id="numberInput" placeholder="Number">
            <label for="foodPriceInput">价格:</label>
            <input type="text" name="foodPrice" id="foodPriceInput" placeholder="Expiration">
            <button type="submit">确认修改</button>
            <button type="button" id="cancelBtn">取消</button>
        </form>
    </dialog>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 发送GET请求到/user
        fetch('/ims/user')
            .then(response => {
                // 确保响应状态是OK的
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                // 解析JSON数据
                return response.json();
            })
            .then(data => {
                // 更新DOM中的用户名和余额
                document.getElementById('username').textContent = data.data.username;
                document.getElementById('balance').textContent = data.data.balance;
            })
            .catch(error => {
                // 处理任何在请求过程中发生的错误
                console.error('There has been a problem with your fetch operation:', error);
            });
    });

    function showModal() {
        document.getElementById('overlay').style.display = 'block';
        document.getElementById('modal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('overlay').style.display = 'none';
        document.getElementById('modal').style.display = 'none';
    }

    var span = document.getElementsByClassName("close")[0];
    // 关闭模态窗口
    span.onclick = function() {
        closeModal();
    }

    const cancelBtn = document.getElementById('cancelBtn');
    cancelBtn.addEventListener('click', function() {
        // 关闭对话框
        editDialog.close();
    });

    function addFood() {
        // 获取表单数据
        const foodName = document.getElementById('foodName').value;
        const supplier = document.getElementById('supplier').value;
        const number = document.getElementById('number').value;
        const foodPrice = document.getElementById('foodPrice').value;

        var foodData = {
            foodName: foodName,
            supplier: supplier,
            number: number,
            foodPrice: foodPrice
            // 添加其他需要发送的数据
        };

        // 发送JSON数据到服务器
        fetch('/ims/addFoodPurchase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(foodData)
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // 处理数据，例如发送到服务器或添加到本地列表
                // 清空表单
                document.getElementById('foodForm').reset();
                // 关闭模态窗口
                closeModal();
                location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });

    }
    document.addEventListener('DOMContentLoaded', function() {
        const pagination = document.getElementById('pagination');
        let currentPage = 1; // 当前页码
        let totalPages; // 总页数
        getPurchase(currentPage);
        fetch('/ims/purchaseCount')
            .then(response => response.json())
            .then(data => {
                totalPages = data.data;
                renderPagination();
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });

        function renderPagination() {
            pagination.innerHTML = ''; // 清空当前分页按钮

            // 添加首页按钮
            const firstPageButton = createButton(1, '首页');
            pagination.appendChild(firstPageButton);

            // 添加上一页按钮
            if (currentPage>1){
                const prevPageButton = createButton(currentPage - 1, '上一页');
                pagination.appendChild(prevPageButton);
            }

            // 计算显示的页码范围
            let startPage = Math.max(1, currentPage - 2);
            let endPage = Math.min(totalPages, currentPage + 2);

            // 如果当前页前五页没到1，则加省略号
            if (startPage > 1) {
                const ellipsis = document.createElement('span');
                ellipsis.textContent = '...';
                ellipsis.className = 'ellipsis';
                pagination.appendChild(ellipsis);
            }

            // 生成页码按钮
            for (let i = startPage; i <= endPage; i++) {
                const button = createButton(i, i);
                pagination.appendChild(button);
            }

            // 如果当前页后五页没到totalPages，则加省略号
            if (endPage < totalPages) {
                const ellipsis = document.createElement('span');
                ellipsis.textContent = '...';
                ellipsis.className = 'ellipsis';
                pagination.appendChild(ellipsis);
            }

            // 添加下一页按钮
            if (currentPage<totalPages){
                const nextPageButton = createButton(currentPage + 1, '下一页');
                pagination.appendChild(nextPageButton);
            }

            // 添加末页按钮
            const lastPageButton = createButton(totalPages, '末页');
            pagination.appendChild(lastPageButton);
        }

        function createButton(page, text) {
            const button = document.createElement('a');
            button.textContent = text;
            button.addEventListener('click', (event) => {
                event.preventDefault();
                if (text !== '上一页' && text !== '下一页' && text !== '首页' && text !== '末页') {
                    currentPage = page;
                } else if (text === '上一页') {
                    currentPage = Math.max(1, currentPage - 1);
                } else if (text === '下一页') {
                    currentPage = Math.min(totalPages, currentPage + 1);
                } else if (text === '首页') {
                    currentPage = 1;
                } else if (text === '末页') {
                    currentPage = totalPages;
                }
                getPurchase(currentPage);
                renderPagination()
                // 这里可以添加发送GET请求到/food/对应页码的逻辑
            });
            return button;
        }
    });
    // 发送GET请求到/food地址
    function getPurchase(id) {
        fetch(`/ims/getPurchase/${id}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); // 解析JSON响应
            })
            .then(data => {
                // 获取表格的tbody元素
                const tbody = document.getElementById('food-table').getElementsByTagName('tbody')[0];
                tbody.innerHTML=''
                // 遍历data并创建表格行
                data.data.forEach(item => {
                    const row = tbody.insertRow();

                    // 插入数据
                    row.insertCell().textContent = item.f_name;
                    row.insertCell().textContent = item.s_name;
                    row.insertCell().textContent = item.number;
                    row.insertCell().textContent = item.price;

                    // 插入操作列
                    const operationCell = row.insertCell();

                    // 添加修改和删除按钮
                    const editBtn = document.createElement('button');
                    editBtn.textContent = '修改';
                    editBtn.onclick = () => editFood(item); // 假设每个食品都有一个id
                    operationCell.appendChild(editBtn);

                    const buyBtn = document.createElement('button');
                    buyBtn.textContent = '买入';
                    buyBtn.onclick = () => buyFood(item); // 假设每个食品都有一个id
                    operationCell.appendChild(buyBtn);

                    const deleteBtn = document.createElement('button');
                    deleteBtn.textContent = '删除';
                    deleteBtn.onclick = () => deleteFood(item); // 假设每个食品都有一个id
                    operationCell.appendChild(deleteBtn);
                });
            })
            .catch(error => console.error('Error:', error)); // 错误处理
    };

    // 修改食品信息的函数
    function editFood(item) {
        // 实现修改食品信息的逻辑
        const dialog = document.getElementById('editDialog');
        const numberInput = document.getElementById('numberInput');
        const foodPriceInput = document.getElementById('foodPriceInput');

        // 设置表单的初始值
        numberInput.value = item.number;
        foodPriceInput.value = item.price;

        // 显示对话框
        dialog.showModal();

        // 表单提交事件
        dialog.querySelector('form').onsubmit = function(event) {
            event.preventDefault();
            const number = document.getElementById('numberInput').value;
            const foodPrice = document.getElementById('foodPriceInput').value;

            var formData = {
                foodName: item.f_name,
                supplier: item.s_name,
                number: number,
                foodPrice: foodPrice
                // 添加其他需要发送的数据
            };

            // 发送POST请求到/update端点
            fetch('/ims/updatePurchase', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    alert('采购方案修改成功!');
                    dialog.close(); // 关闭对话框
                    location.reload(); // 刷新页面
                })
                .catch(error => {
                    console.error('There has been a problem with your fetch operation:', error);
                });
        };
    }

    function buyFood(item) {
        // 实现够买食品信息的逻辑
        fetch('/ims/buy', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ foodName: item.f_name,supplier: item.s_name,number:item.number,foodPrice:item.price})
        })
            .then(response => {
                if (response.ok) {
                    alert('采购成功!');
                    // 如果删除成功，刷新页面
                    location.reload();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }

    // 删除食品信息的函数
    function deleteFood(item) {
        // 实现删除食品信息的逻辑
        // 删除按钮的逻辑
        // 发送POST请求到/delete端点
        fetch('/ims/deletePurchase', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ foodName: item.f_name,supplier: item.s_name})
        })
            .then(response => {
                if (response.ok) {
                    alert('采购方案删除成功!');
                    // 如果删除成功，刷新页面
                    location.reload();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }
</script>
</body>
</html>